/* Estilos generales */
body {
    background-color: #a1a0ef; /*modifica el color en la introduccion*/
    color: #010101; /*color para el texto de mi vidiojuego fav*/
    font-family: Arial, sans-serif;
}

/* Barra de navegación */
.navbar {
    background-color: #609ef5 !important; /**color de la barra de navegacion*/
    padding: 20px; /**espacio interno en nav.*/
}

.navbar-brand,
.navbar .nav-link {
    color: rgb(12, 12, 12) !important; /*color de letra dentro de van(barra de navegacion)*/
}
.navbar .nav-link:hover {
    color: #edbf06 !important; /**cuando pasas el cursor es el color*/
}


/* Títulos */
h1,
h2,
h3 {
    color: #070707;
}

/* Imagen principal */
section img {
    border-radius: 10px;
}

/* Botón principal */
.btn-primary {
    background-color: #010714; /*color al boton "ver recomendacion"*/
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Hover del botón */
.btn-primary:hover {
    background-color: #e10e20; /*color al desplazar el puntero*/
    transform: scale(1.05);
}

/* Sección de recomendaciones */
#recomendaciones {
    background-color: #7550fc !important; /** color de fonfo de juegos recomendados*/
}

/* Tarjetas de videojuegos */
.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* Imágenes de las tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Hover en las tarjetas */
.card:hover {
    transform: translateY(-5px);
}

/* Títulos dentro de tarjetas */
.card-title {
    color: #4b09a8; /*colores de los titulos dentro de las tarjetas*/
}

/* Imagen del juego favorito */
#favorito img {
    border-radius: 10px;
}

/* Footer */
.footer {
    background-color: #1f2937 !important;
    color: white;
    
}